,<div class="container_body">
    <div class="wpb_wrapper">
        <h1 class="albedo-custom-css-added" id="shortcode-1553346564225-9876b4fe-840c"
            data-custom-css=" #shortcode-1553346564225-9876b4fe-840c { text-align: center; }">Clients</h1>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <div class="dropcap style-blue">
                    <p>Our goal is to be able to win our clients` complete trust and transform services into
                        partnerships.
                    </p>
                    <p>This is why we offer a unique and tailored “One Stop Shop” solution for our clients and build an
                        open
                        and trustworthy relationship with them. At Pontica Solutions we establish transparent
                        communication
                        procedures and provide in-depth performance analysis. Our standards are high, and this is backed
                        up
                        by solid procedures to help us select the right people and reach top quality results.</p>
                    <p>As a BPO and ITO provider we have a great challenge to engage our people at the same time with
                        Pontica Solutions and with our clients` brands. How do we achieve that? We select our partners
                        very
                        carefully and we always aim for synergy between Pontica`s culture and values and our partners`
                        activities, culture and values.</p>
                </div>
            </div>
        </div>
    </div>

    <blockquote class="shortcode-blockquote style-default " id="shortcode-1553347393606-5faab441-2c39">

        <div class="text">
            We work hard to build long lasting win-win relationships with our clients.
            We are jointly working towards performance, transformation, quality and financially driven objectives.
            Our partners measure our success in reduced costs, increased revenue and improved customer experience.
        </div>
    </blockquote>

    <div class="picture-text-wrapper">
        <div class="text-wrapper">
            <div class="paragraph-wrapper">
                <p>We develop our team members and help them adapt to our clients’ business needs and market
                    trends. Our <a href="/culture">company culture</a> is
                    people oriented. We promote transparency, personal development and we strive to align
                    ourselves with our client’s environment and corporate strategy. All this helps us
                    achieve amazing CSAT, cost efficiency and customer loyalty.</p>
                <p>In our journey so far and thanks to our company culture we have won the trust of top
                    retailers, online payment platforms, game producers and email service providers.</p>
            </div>
        </div>
        <div class="image_wrapper" @fade>
            <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img "
                        src="https://ponticasolutions.com/wp-content/uploads/2019/03/about-us-e1554048689564-540x350.jpg"
                        width="540" height="350" alt="about us" title="about us"></div>
            </figure>
        </div>
    </div>
    <h3 class="mid-separator">We offer reliable and high-quality support to all of our clients</h3>


    <div class="vc_row wpb_row vc_inner vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-2 vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_icon_element">
                    <div
                        class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-white">
                        <span class="vc_icon_element-icon fa fa-envelope" style="color:#02a9e3 !important"></span></div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="font-size: 16px; color: #02a9e3;">Service
                                providers</span></p>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="padding-left: 30px;">A world-wide recognized video game development
                            company.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-2 vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_icon_element">
                    <div
                        class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-white">
                        <span class="vc_icon_element-icon fa fa-gamepad" style="color:#02a9e3 !important"></span></div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="font-size: 16px; color: #02a9e3;">Gaming<br>
                                (PC, Mobile, Console)</span></p>
                    </div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="padding-left: 30px;">One of the world’s top three all-in-one email service
                            providers.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-2 vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_icon_element">
                    <div
                        class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-white">
                        <span class="vc_icon_element-icon fa fa-desktop" style="color:#02a9e3 !important"></span></div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="font-size: 16px; color: #02a9e3;">Technology
                                companies</span></p>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="padding-left: 30px;">Global company for consulting, digital, technology
                            and operations services.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-2 vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_icon_element">
                    <div
                        class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-have-style-inner vc_icon_element-size-lg vc_icon_element-style-rounded vc_icon_element-background vc_icon_element-background-color-white">
                        <span class="vc_icon_element-icon fa fa-shopping-cart" style="color:#02a9e3 !important"></span>
                    </div>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><span style="font-size: 16px; color: #02a9e3;">E-commerce and
                                retail</span></p>
                    </div>
                </div>
                <div class="vc_empty_space" style="height: 25px"><span class="vc_empty_space_inner"></span>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="padding-left: 30px;">Industry leading provider of online payment
                            solutions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-container swiper-container-horizontal">

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <div *ngFor = "let client of allClients" class="item swiper-slide swiper-slide-active" style="width: 210.2px; margin-right: 30px;">
                <img class="client_logo" alt=""
                    src="{{client.pictureURL}}" > 
            </div>
            
        </div>
    </div>
    <div class="empty-space" style="height: 32px;"> </div>

    <div class="wpb_column vc_column_container vc_col-sm-12 albedo-custom-css-added">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="shortcode-testimonials-carousel2 style-white slider-effect-slide albedo-custom-css-added"
                    data-custom-css="#shortcode-1503508635118-e03b7f88-20ea .text { font-family:Coustard;font-weight:400;font-style:normal; }"
                    id="shortcode-1503508635118-e03b7f88-20ea" data-effect="slide" data-pagination="yes" data-loop=""
                    data-slides-num="3" data-slides-medium-num="2" data-slides-small-num="1">
                    <!-- Slider main container -->
                    <div class="swiper-container swiper-container-horizontal">

                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper-testimonials">

                            <div *ngFor = "let client of allClients" class="swiper-slide swiper-slide-next"
                                data-img-url="https://ponticasolutions.com/wp-content/uploads/2019/07/Mailjet-300.jpg"
                                style="width: 370.333px; margin-right: 30px;">
                                <div class="slide-content">

                                    <div class="photo">
                                        <img class="" alt="" width="60" height="60"
                                            src="{{client.pictureURL}}">
                                    </div>

                                    <div class="text">
                                        {{client.testimony}} </div>

                                    <div class="about-author">
                                        <div class="author">
                                            {{client.author}} </div>
                                        <div class="position">
                                            {{client.authorPosition}} </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide"
                                data-img-url="https://ponticasolutions.com/wp-content/uploads/2019/07/ProgressPlay-300.jpg"
                                style="width: 370.333px; margin-right: 30px;">
                                <div class="slide-content">

                                    <div class="photo">
                                        <img class="" alt="" width="60" height="60"
                                            data-src="//ponticasolutions.com/wp-content/uploads/2019/07/ProgressPlay-300-100x100.jpg"
                                            src="//ponticasolutions.com/wp-content/uploads/2019/07/ProgressPlay-300-100x100.jpg"
                                            data-at2x="//ponticasolutions.com/wp-content/uploads/2019/07/ProgressPlay-300-200x200.jpg">
                                    </div>

                                    <div class="text">
                                        'Our business requires often to find the right team members quickly and help us
                                        run the operations smoothly. We were always impressed by the speed of Pontica
                                        Solutions when recruiting multilingual profiles from English to Nordic languages
                                        for our team. It allows us to scale up and down at the pace dictated by our
                                        day-to-day business needs and stay competitive.' </div>

                                    <div class="about-author">
                                        <div class="author">
                                            Elad Beni </div>
                                        <div class="position">
                                            COO ProgressPlay </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide"
                                data-img-url="https://ponticasolutions.com/wp-content/uploads/2019/07/talixo-300.jpg"
                                style="width: 370.333px; margin-right: 30px;">
                                <div class="slide-content">

                                    <div class="photo">
                                        <img class="" alt="" width="100" height="100"
                                            data-src="//ponticasolutions.com/wp-content/uploads/2019/07/talixo-300-100x100.jpg"
                                            src="//ponticasolutions.com/wp-content/uploads/2019/07/talixo-300-100x100.jpg"
                                            data-at2x="//ponticasolutions.com/wp-content/uploads/2019/07/talixo-300-200x200.jpg">
                                    </div>

                                    <div class="text">
                                        'Talixo is a fast-growing transportation booking platform for taxis and
                                        limousines. Few months ago, we took the strategic decision to outsource some of
                                        our operations to a BPO company. We wanted a partner that has the know-how to
                                        get our customer experience to the next level, provide us with the opportunity
                                        to scale up our language capacity and assist us with the operation’s global
                                        organization.

                                        Among many companies, Pontica Solutions was selected for having all the
                                        qualities we were looking for at a competitive and flexible cost structure. Few
                                        months after we are very happy with the choice, we`ve made.' </div>

                                    <div class="about-author">
                                        <div class="author">
                                            Jan Brenneke </div>
                                        <div class="position">
                                            VP Operations, Talixo </div>
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide"
                                data-img-url="https://ponticasolutions.com/wp-content/uploads/2019/09/rhexis-logo.png"
                                style="width: 370.333px; margin-right: 30px;">
                                <div class="slide-content">

                                    <div class="photo">
                                        <img class="" alt="" width="100" height="100"
                                            data-src="//ponticasolutions.com/wp-content/uploads/2019/09/rhexis-logo-100x100.png"
                                            src="//ponticasolutions.com/wp-content/uploads/2019/09/rhexis-logo-100x100.png"
                                            data-at2x="//ponticasolutions.com/wp-content/uploads/2019/09/rhexis-logo-200x200.png">
                                    </div>

                                    <div class="text">
                                        'When looking for a partner to outsource some operations, the synergy between
                                        the two companies is the key for successful partnership. It is very rare to find
                                        a francophone company based in Eastern Europe that offers excellent outsourcing
                                        solutions. We at Rhexis have found Pontica and we can benefit from an outsourced
                                        solution with French management, accomplished with cultural and business
                                        understanding of the French businesses and customers.' </div>

                                    <div class="about-author">
                                        <div class="author">
                                            Gilles Vittoriano </div>
                                        <div class="position">
                                            COO, Rhexis </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>

                    <!-- If we need pagination -->
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                            class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

                    <!-- Prev / next buttons -->
                    <div class="swiper-nav-btn swiper-button-prev swiper-button-disabled"></div>
                    <div class="swiper-nav-btn swiper-button-next"></div>

                </div>
            </div>
        </div>
    </div>
</div>