<div class="content">

    <div class="initial-box">
        <h1> Services </h1>
        <div style="margin-left: 9%; margin-right: 9%;">
            <p> Our services are the in the fields of Automation and Data management. We create custom solutions for
                each client,
                tailored to meet their needs and scalable to accomodate their growth!
            </p>
        </div>
        <div class="empty-space"></div>
    </div>


    <div class="vc_row wpb_row">

        <div class="vc_column_container">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="shortcode-services-iconic">
                        <div class="row">
                            <div class="item col-md-12  ">
                                <div class="item-inside">
                                    <div class="icon">
                                        <i class="fa fa-paperclip"></i>
                                    </div>
                                    <div class="text">

                                        <div class="category">End to end reporting</div>

                                        <a href="/it-support-and-development"></a>
                                        <div class="desc">
                                            <ul>
                                                <li> Preparing daily, weekly, monthly reports<br></li>
                                                <li> Providing ongoing support and handling change requests<br></li>
                                                <li> Visualizing report data via BI tools</li>
                                            </ul>
                                        </div>

                                        <a href="/it-support-and-development" class="button style-blue size-small">Find
                                            out more</a>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class=" vc_column_container">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="shortcode-services-iconic">
                        <div class="row">
                            <div class="item col-md-12  ">
                                <div class="item-inside">
                                    <div class="icon">
                                        <i class="fa fa-microchip"></i>
                                    </div>
                                    <div class="text">
                                        <div class="category">Automation services</div>
                                        <a href="/multichannel-customer-solutions"></a>
                                        <div class="desc">
                                            <ul>
                                                <li> Automating data input tasks through custom scripts<br></li>
                                                <li> Remote Technical Support<br></li>
                                                <li> 24/7 active custom bot solutions &amp; support if needed </li>
                                            </ul>
                                        </div>
                                        <a href="/multichannel-customer-solutions"
                                            class="button style-blue size-small">Find out more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" vc_column_container ">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="shortcode-services-iconic">
                        <div class="row">
                            <div class="item col-md-12  ">
                                <div class="item-inside">
                                    <div class="icon">
                                        <i class="fa fa-pie-chart"></i>
                                    </div>
                                    <div class="text">
                                        <div class="category">Custom analysis</div>
                                        <a href="/b2b-b2c-sales-and-customer-retention-services"></a>
                                        <div class="desc">
                                            <ul>
                                                <li> Providing custom recommendations for processes improvement<br></li>
                                                <li> Analyzing existing practices and advising if any significant
                                                    improvements can be made</li>
                                            </ul>
                                        </div>
                                        <a href="/b2b-b2c-sales-and-customer-retention-services"
                                            class="button style-blue size-small">Find out more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-box">
        <div class="three">

        </div>
        <div class="three">
            <p> It is our goal to exceed expectations! So far we have in-depth experience with the following
                technologies.
            </p>
        </div>
        <div class="three">

        </div>


        <div class="empty-space"></div>
    </div>

    <div class="flex_display">


        <div class="wpb_column  vc_col-sm-6 ">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <p><strong>Programming technologies<br></strong>
                                JavaScript,&nbsp;Python,&nbsp;, C, SQL, VBA,
                                C++,C#&nbsp;</p>
                            <hr>
                            <p><strong>Additional technologies<br></strong>
                                MongoDb, Tableau, Power BI, MS Office (scripting), SAP,
                                Microsoft Azure </p>
                            <hr>
                            <p><strong> AI technologies<br></strong>
                                Tensorflow, Keras, CNN, Random forest (regression and classification),
                                linear regression, logistic regression </p>
                            <hr>
                            <p><strong> Languages we can offer support in<br></strong>
                                English, German, Chinese, Bulgarian, French</p>
                            <hr>
                            <p><strong>Web technologies<br></strong>
                                Angular, Sharepoint, Power Automate, SPM</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="image_wrapper" @fade>
            <figure class="wpb_wrapper vc_figure">
                <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img "
                        src="https://images.pexels.com/photos/669619/pexels-photo-669619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                        width="540" height="350" alt="about us" title="about us"></div>
            </figure>
        </div>

    </div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="initial-box">
        <h1> Channels </h1>
        <div style="margin-left: 9%; margin-right: 9%;">
            <p> We understand that in the highly competitive,
                constantly evolving communications market,
                delivering a superior customer experience is key to customer satisfaction
                and continued business success. Our communications expertise and flexibility
                of services allow us to react quickly to the changes in your industry,
                deliver cost efficiency and improve customer satisfaction.
            </p>
        </div>
        <div class="empty-space"></div>
    </div>

    <div class="theme-iconic-tabs" data-responsive-break="1199">
        <nav><a href="javascript:;" class="a-tab-desktop open" data-item="0">
                <div class="tab-icon animate-on-hover" data-hover-animation="zoomIn"><i class="fa fa-phone"></i></div>
                <span class="title">VOICE</span>
            </a><a href="javascript:;" class="a-tab-desktop" data-item="1">
                <div class="tab-icon animate-on-hover zoomIn animated" data-hover-animation="zoomIn"><i
                        class="fa fa-comment-o"></i></div><span class="title">CHAT</span>
            </a><a href="javascript:;" class="a-tab-desktop" data-item="2">
                <div class="tab-icon animate-on-hover" data-hover-animation="zoomIn"><i class="fa fa-lightbulb-o"></i>
                </div><span class="title">SELF-HELP</span>
            </a><a href="javascript:;" class="a-tab-desktop" data-item="3">
                <div class="tab-icon animate-on-hover" data-hover-animation="zoomIn"><i class="fa fa-envelope-o"></i>
                </div><span class="title">E-MAIL</span>
            </a></nav>
    </div>
</div>